.chatBar{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    max-width: 450px;
    min-width: 200px;
    width: 25%;

    padding-left: 5px;
    padding-right: 5px;


    background: #FFFFFF;

    border: 1px solid #ECEEF2;
    border-top: 0;
}

.containerDiv{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.containerDiv::-webkit-scrollbar {
    display: none;
}


.Input{
    width: 100%;
    height: 48px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 48px;
}

.tempPlaceholder{
    background: white;
    height: 64px;
}