.chatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    height: 64px;

    background: white;
    padding-left: 10px;
    padding-right: 10px;

    width: 100%;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;


}


.backButton{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F7F9;

}

.title{
    width: 100%;
}
