* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;

}

a{
    color: #00A4FF;
    text-decoration: none;
}

body{
    background: #CDDFE9
}


#root{
    display: flex;
    align-items: center;
    flex-direction: column;

}


