.singleChat{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px 10px;
    width: 100%;
    height: 70px;

    background: white ;

    display: flex;

    flex-direction: row;

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;


}


.textData{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-right: 5px;
}


.name{
    margin-bottom: 5px;
    font-size: 20px;
}

.subMessage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userText{
    width: 80%;
    white-space: nowrap;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.userTime{
    width: 20%;
    text-align: right;
}

.avatar{
    height: 56px;
    width: 56px;
    aspect-ratio: 1;
    border-radius: 64px;

}

.pictureBackground{

    display: flex;
    justify-content: center;
    align-items:center;

    height: 56px;
    width: 56px;

}