.Button{
    border: solid 1px #ECEEF2;
    background: #F6F7F9;
    transition: all 0.25s ease;
}

.Button:hover{
    background: #E4E7ED;
}

.Button:active{
    background: #D1D6E0;
}
.Input:focus{
    background: #D1D6E0;
}