.myBtn {
    padding: 5px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    background: #383C51 ;
    border: 3px solid #1F222F;
    font-family: Montserrat;
    color:wheat;

}