.container{
    background: white;
    max-width: 500px;
    width: 100%;
    height: 300px;

    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    border-radius: 16px;
    /*border: solid 1px #ECEEF2;*/
    overflow: clip;

    display: flex;
    flex-direction: column;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);

}

.chooseContainer{
    height: 48px;
    width: 100%;

    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #ECEEF2;

}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: white;
    justify-content: space-around



}

.input{
    width: 70%;
    height: 32px;
    border-radius: 32px;
    padding: 4px;

}

.button{
    width: 70%;
    height: 32px;
    border-radius: 32px;
    padding: 4px;
}

.h1{
    background: white;

}


.options{
    background: white;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.options_tinted{
    /*background: #F5F5F5;*/
    /*background: #52C1FF;*/
    background: #00A4FF;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.errorfield{
    color:red;
    height: 32px;
}