.userMiniature{
    width: 100%;


    padding: 4px 0px;
    height: 70px;

    background: white ;
    font-family: Montserrat, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;


}

.userPicture{
    height: 56px;
    width: 56px;
    aspect-ratio: 1;
    border-radius: 64px;
}

.pictureBackground{
    display: flex;
    justify-content: center;
    align-items:center;

    height: 56px;
    width: 56px;
}


.name{
    margin-bottom: 5px;
    font-size: 20px;
}

.subMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.userText{
    white-space: nowrap;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    text-align: center;

    margin: 5px;
    font-size: 14px;
    cursor: pointer;

    font-family: Montserrat;
    color:black;


}


.vericalContainer{
    display: flex;
    flex-direction: column;
    width: calc(100% - 144px);

}


.greenStatus{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: green;
    margin: 10px;
}

.redStatus{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: red;
    margin: 10px;
}


.startButton{
    aspect-ratio: 1;
    width: 48px;
    border-radius: 100px;
    background: #F6F7F9;
    margin-left: 4px;
    margin-right: 4px;
}